*{padding: 0;margin: 0;font-size: 14px;font-family: Consolas;}
a{text-decoration: none;color:#444;}
li{list-style: none;}
ruby{font-weight: bold;}
rt{font-size: 12px;color:blue;}
.fleft{float: left;}
.fright{float: right;}
.clearfix:after{content: "";display: table;clear:both;}

.header{height: 90px;width: 100%;background-color: #f2f2f9;box-shadow: 0 10px 20px 0 #f1f1f1;}
.header-left{width:250px;margin-left: 30px;height: 100%;}
.logo{display: inline-block;width:90%;height:100%;background: url("../imgs/logo.png") no-repeat 40% 80%;background-size: 90%;}
.header-nav{width:60%;margin: 52px auto 0;height: 30px;}
.header-nav li a{display: inline-block;margin-left:3px;width:80px;text-align: center;height: 30px;line-height: 30px;}
.header-nav li:hover{background-color: #99999966;}
.header li{list-style: none;display: inline-block;}
.header-right{line-height: 30px;margin:52px 90px 0 0;height: 30px;}
.header-right li a{display: inline-block;width:80px;text-align: center;}
.header-right li a:hover{color:orange;}
.hide{display: none;}

.main{max-height: 70%;margin: 0 50px 0 10%;width:90%;}
.main-left{width:10%;float:left;margin-top: 30px;line-height: 30px;text-indent: 1em;}
.main-content li{display: inline-block;line-height: 30px;text-indent: 2em;}
.main-left li a,.main-content li a{display:inline-block;width:120px;height: 30px;text-align: left;border:1px solid #f0f0f0;}
.main-right{width:10%;}
.main-content{width:80%;}
.footer{height: 200px;position: fixed;margin-bottom: 0;}

.li-on{background-color: #e5e5e5;}

.info{width:90%;margin: 28px;min-width:1360px;}
.info .item{height: 80px;}
.info span{display: inline-block;text-align: center;}
.info .item-no,.info .item-type{width:10%;}
.info .item-span{width:5%;height: 100%;}
.info .item-date,.info .item-home,.info .item-away,.info .bet-more-btn{width:15%;}
.info-title{background-color: #68A4ED;}
.info-title{height: 50px;line-height: 50px;border: 1px solid lightgrey;border-top:none;}
.item{height: 50px;border: 1px solid lightgrey;margin-top: -1px;}
.item:hover{background-color: #e5e5e5;}




