<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div id="loginForm">
        <form action="login" method="post">
            <p style="color:red;">$!{msg}</p>
            <ion-icon name="contact"></ion-icon> <input class="form-control inputText" type="text" name="userId" placeholder="账号"/><br/>
            <ion-icon name="grid"></ion-icon>&nbsp;<input class="form-control inputText" type="password" name="password" placeholder="密码"/><br/>
            <input class="button" type="submit" value="登录"/>
            <input class="button" type="reset" value="重置"/>
            <a id="wjPwd" href="javascript:alert('请与管理员联系重置密码!');">忘记密码?</a>
        </form>
    </div>
    <script src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js"></script>
    <script language="javascript">
        //防止页面后退
        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
        });
    </script>
</body>
</html>